<div class="row">
  <div class="col-12 layout-spacing">
    <div class="widget widget-chart-one">
      <div class="widget-content m-10 p-t-10 p-b-10">
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-17 m-b-10">公告标题公告标题公告标题</span>
          <br>
          <p class="text-muted font-13 float-right">公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文</p>
          <span class="text-muted font-13">2021-01-21 11:00:12</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-17 m-b-10">公告标题公告标题公告标题</span>
          <br>
          <p class="text-muted font-13 float-right">公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文</p>
          <span class="text-muted font-13">2021-01-21 11:00:12</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-17 m-b-10">公告标题公告标题公告标题</span>
          <br>
          <p class="text-muted font-13 float-right">公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文</p>
          <span class="text-muted font-13">2021-01-21 11:00:12</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-17 m-b-10">公告标题公告标题公告标题</span>
          <br>
          <p class="text-muted font-13 float-right">公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文</p>
          <span class="text-muted font-13">2021-01-21 11:00:12</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-17 m-b-10">公告标题公告标题公告标题</span>
          <br>
          <p class="text-muted font-13 float-right">公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文</p>
          <span class="text-muted font-13">2021-01-21 11:00:12</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-17 m-b-10">公告标题公告标题公告标题</span>
          <br>
          <p class="text-muted font-13 float-right">公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文公告正文</p>
          <span class="text-muted font-13">2021-01-21 11:00:12</span>
        </div>
        <div class="text-center">
          <span class="text-center text-muted font-12"><i class="la la-arrow-down"></i> 加载更多</span>
        </div>
      </div>
    </div>
  </div>
</div>