<div class="flex justify-between m-b-15">
  <ol class="breadcrumb float-xl-left">
    <li id="li_nav_level_1" class="breadcrumb-item"><a href="javascript:;" class="">首页</a></li>
    <li id="li_nav_level_2" class="breadcrumb-item"><a href="javascript:;">用户资金明细</a></li>
  </ol>
</div>

<div class="panel panel-inverse">
  <div class="panel-body">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <input id="filter_keyword" class="form-control" type="text" placeholder="关键字(地址、ID)">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select id="filter_account_type" class="form-control">
            <option value="-1">全部账户</option>
            <option value="packet">红包账户</option>
            <option value="wallet">钱包账户</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select id="filter_asset_type" class="form-control">
            <option value="-1">全部币种</option>
            <option value="usdt">USDT</option>
            <option value="cigar">BOMB</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select id="filter_flow_type" class="form-control">
            <option value="-1">全部类型</option>
            <option value="deposit">充值</option>
            <option value="withdraw">提现</option>
            <option value="transfer">划转</option>
            <option value="win">拆弹成功</option>
            <option value="lose">拆弹失败</option>
            <option value="lose_reward">拆弹福利</option>
            <option value="parent_reward">直推奖励</option>
            <option value="grand_reward">间推奖励</option>
            <option value="agent_reward">训练津贴</option>
            <option value="buy_agent">升级总教官</option>
            <option value="buy_vip">升级教官</option>
            <option value="team_new_agent">培训津贴(总)</option>
            <option value="team_new_vip">培训津贴</option>
            <option value="vip_init_reward">教官补贴</option>
            <option value="agent_init_reward">总教官补贴</option>
            <option value="exchange_cic">兑换BOMB</option>
          </select>
        </div>
      </div>
      <div class="form-group col-3">
        <div class="input-group input-daterange">
          <input id="filter_start_at" type="text" class="form-control" name="start" placeholder="开始时间"/>
          <span class="input-group-addon border-radius-0">-</span>
          <input id="filter_end_at" type="text" class="form-control" name="end" placeholder="结束时间"/>
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-success" onclick="table.bootstrapTable('refresh')"><i class="fa fa-search"></i></button>
      </div>
      <div class="col-2">
        <div class="form-group">
          <span class="form-control" id="total_statistics"></span>
        </div>
      </div>
    </div>

    <div class="row m-t-15">
      <div class="col-12">
        <table id="table_asset_flows"></table>
      </div>
    </div>
  </div>
</div>

<script>
    let table, page_size = 15;

    function init_table() {
        table = $('#table_asset_flows').bootstrapTable({
            locale: 'zh-CN',
            url: '/admin/asset_flows/list_for_table',
            method: 'get',
            striped: true,
            cache: false,
            pagination: true,
            contentType: "application/x-www-form-urlencoded",
            queryParams: function (params) {
                params['page'] = params.pageNumber - 1;
                params['limit'] = params.pageSize;
                let start_at = $('#filter_start_at').val().trim(), end_at = $('#filter_end_at').val().trim(),
                    account_type = $('#filter_account_type').val(), flow_type = $('#filter_flow_type').val(),
                    asset_type = $('#filter_asset_type').val(), keyword = $('#filter_keyword').val().trim();
                if (start_at.length > 0)
                    params['start_at'] = start_at;
                if (end_at.length > 0)
                    params['end_at'] = end_at;
                if (flow_type !== '-1')
                    params['flow_type'] = flow_type;
                if (account_type !== '-1')
                    params['account_type'] = account_type;
                if (asset_type !== '-1')
                    params['asset_type'] = asset_type;
                if (keyword.length > 0)
                    params['keyword'] = keyword;
                get_statistics(params);
                return params;
            },
            sidePagination: "server",
            pageNumber: 1,
            queryParamsType: "pageNumber",
            pageSize: page_size,
            strictSearch: true,
            clickToSelect: true,
            uniqueId: "id",
            columns: [
                {field: 'id', title: 'ID'},
                {field: 'account_type_name', title: '账户'},
                {field: 'flow_type_name', title: '类型'},
                {field: 'asset_type_name', title: '资产'},
                {field: 'amount', title: '数量'},
                {field: 'tx_hash', title: 'TX Hash'},
                {field: 'created_at', title: '时间'}
            ]
        });
    }

    function get_statistics(params) {
        Business.get(
            '/admin/asset_flows/statistics', params,
            function (data) {
                $('#total_statistics').text('合计:' + data.total);
            }
        );
    }

    $(function () {
        $('.input-daterange').datepicker({
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        });

        init_table();
    });
</script>