<div class="row m-t-15">
  <div class="col-12 text-center">
    <span>总奖金 <span class="text-warning font-30">500</span><span class="text-warning">.00</span> USDT</span>
  </div>
  <div class="col-12 m-t-10 p-l-20 p-r-20">
  </div>
  <div class="col-12 text-center text-danger">中奖金额: 123.12345678 USDT</div>
<!--  <div class="col-12 text-center text-muted">未中奖</div>-->
</div>

<div class="row">
  <div class="col-12 layout-spacing">
    <div class="widget widget-chart-one">
      <div class="widget-heading m-10">
        <div>
          <br>
          <h6 class="">玩家列表</h6>
        </div>
      </div>
      <div class="widget-content m-10">
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <br>
          <span class="text-danger font-13">中奖金额: 1234.12345678 USDT</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <br>
          <span class="text-danger font-13">中奖金额: 1234.12345678 USDT</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <br>
          <span class="text-danger font-13">中奖金额: 1234.12345678 USDT</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <br>
          <span class="text-muted font-13">未中奖</span>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>