<div class="row m-t-15">
  <div class="col-12 text-center">
    <span><span class="text-warning font-30">100</span><span class="text-warning">.00</span> USDT</span>
  </div>
  <div class="col-12 text-center">进行中...</div>
  <div class="col-12 m-t-10 p-l-20 p-r-20">
    <div class="progress br-30">
      <div class="progress-bar br-0 progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 50%"></div>
    </div>
  </div>
  <div class="col-12 text-center">25/100 人</div>
  <div class="col-12">
    <button type="button" class="btn btn-primary btn-block btn-rounded m-t-15">立即参与</button>
  </div>
</div>

<div class="row">
  <div class="col-12 layout-spacing">
    <div class="widget widget-chart-one">
      <div class="widget-heading m-10">
        <div>
          <br>
          <h6 class="">开奖记录</h6>
        </div>
      </div>
      <div class="widget-content m-10">
        <div class="text-center" id="div_no_record">
          <span class="text-center text-muted font-12"><i class="las la-exclamation-circle"></i> 无记录</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">已参与</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <button class="btn btn-sm btn-rounded btn-outline-danger btn-block m-t-10" onclick="location.href='/game_rounds/show?id=1'">拆红包</button>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">已参与</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-danger">中奖金额: 12345 USDT</span>
          <span class="font-13 float-right">查看详情 ></span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-muted font-15">未参与</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-danger">中奖金额: - USDT</span>
          <span class="font-13 float-right">查看详情 ></span>
        </div>
        <div class="text-center">
          <span class="text-center text-muted font-12"><i class="la la-arrow-down"></i> 加载更多</span>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_players" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">玩家列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <div class="modal-body pre-scrollable">
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-danger">已参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: XT129X</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-13 mb-0 text-muted">未参与</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function show_players() {
      $('#modal_players').modal('show');
    }

    $(function () {
        set_top_btn('<i class="la la-users"></i>', function () {
            show_players();
        });
    });
</script>