<div class="col-12 text-center bg-primary" style="position: fixed;z-index: 200;">
  <span class="m-15 font-16 font-weight-bold">资产</span>
</div>
<div class="col-12" style="height: 50px;"></div>
<div class="row">
  <div class="col-12 bg-primary p-t-10">
    <span class="m-10 text-white font-17">总资产折合</span>
    <span class="pull-right m-10 font-13"><span class="font-19">1000</span> USDT</span>
  </div>
</div>
<div class="row bg-primary">
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" style="width: 80%">托管</button>
  </div>
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" style="width: 80%">提取</button>
  </div>
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" style="width: 80%">划转</button>
  </div>
</div>

<div class="table-responsive m-10">
  <table class="table mb-0">
    <thead>
    <tr>
      <th>账户</th>
      <th>资产</th>
      <th>数量</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>钱包</td>
      <td>USDT</td>
      <td>1000</td>
      <td><i class="la la-angle-right"></i></td>
    </tr>
    <tr>
      <td>红包</td>
      <td>USDT</td>
      <td>1000</td>
      <td><i class="la la-angle-right"></i></td>
    </tr>
    <tr>
      <td>福利</td>
      <td>Boom</td>
      <td>1000</td>
      <td><i class="la la-angle-right"></i></td>
    </tr>
    <tr>
      <td>返佣</td>
      <td>USDT</td>
      <td>1000</td>
      <td><i class="la la-angle-right"></i></td>
    </tr>
    </tbody>
  </table>
</div>

<script>
    function load_assets_data() {

    }
</script>