<div class="col-12 text-center bg-primary" style="position: fixed;z-index: 200;">
  <span class="m-15 font-16 font-weight-bold">设置</span>
</div>
<div class="col-12" style="height: 50px;"></div>

<br>
<div class="row m-10">
  <div class="col-3 font-15">ID:</div>
  <div class="col-9">
    <span class="font-15">123456</span>
    <button type="button" class="btn btn-sm btn-soft-primary btn-rounded float-right ladda-button" data-style="zoom-in">
      <i class="la la-exchange-alt"></i> 切换
    </button>
  </div>
</div>
<div class="row m-10 font-15">
  <div class="col-3">地址:</div>
  <div class="col-9">0xAedCFD5f96...743aB61c893</div>
</div>

<br>
<div class="widget box box-shadow m-10">
  <ul class="list-group">
    <li class="list-group-item"><i class="las la-language"></i> 语言<span class="float-right"><i class="las la-angle-right"></i></span></li>
    <li class="list-group-item"><i class="las la-file-alt"></i> 操作指南<span class="float-right"><i class="las la-angle-right"></i></span></li>
    <li class="list-group-item"><i class="las la-gift"></i> 奖励规则<span class="float-right"><i class="las la-angle-right"></i></span></li>
    <li class="list-group-item"><i class="las la-list"></i> 参与记录<span class="float-right"><i class="las la-angle-right"></i></span></li>
    <li class="list-group-item"><i class="las la-user-tag"></i> 申请代理<span class="float-right"><i class="las la-angle-right"></i></span></li>
  </ul>
</div>

<script>
    function load_settings_data() {

    }
</script>