<div class="row">
  <div class="col-12 layout-spacing">
    <div class="widget widget-chart-one">
      <div class="widget-content p-10 m-t-15">
        <div class="text-center" id="div_no_record">
          <span class="text-center text-muted font-12"><i class="las la-exclamation-circle"></i> 无记录</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">1025 USDT, 10人</span>
          <span class="text-danger float-right">密码红包</span>
          <br>
          <span class="text-danger font-13">中奖金额: 1234.12345678 USDT</span>
          <br>
          <span class="font-13">2021-09-30 00:12:34</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">1025 USDT, 10人</span>
          <span class="text-danger float-right">普通红包</span>
          <br>
          <span class="font-13">未中奖</span>
          <br>
          <span class="font-13">2021-09-30 00:12:34</span>
        </div>
        <div class="text-center">
          <span class="text-center text-muted font-12"><i class="la la-arrow-down"></i> 加载更多</span>
        </div>
      </div>
    </div>
  </div>
</div>