<div class="flex justify-between m-b-15">
  <ol class="breadcrumb float-xl-left">
    <li id="li_nav_level_1" class="breadcrumb-item"><a href="javascript:;" class="">首页</a></li>
    <li id="li_nav_level_2" class="breadcrumb-item"><a href="javascript:;">用户资产</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">工兵列表</a></li>
  </ol>
</div>

<div class="panel panel-inverse">
  <div class="panel-body">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <input id="filter_keyword" class="form-control" type="text" placeholder="关键字(地址、ID)">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select id="filter_state" class="form-control">
            <option value="-1">全部状态</option>
            <option value="free">休息</option>
            <option value="working">扫雷中</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select id="filter_soldier_id" class="form-control">
            <option value="-1">全部等级</option>
          </select>
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-success" onclick="table.bootstrapTable('refresh')"><i class="fa fa-search"></i></button>
      </div>
      <div class="col-2">
        <div class="form-group">
          <span class="form-control" id="total_statistics"></span>
        </div>
      </div>
    </div>

    <div class="row m-t-15">
      <div class="col-12">
        <table id="table_user_soldiers"></table>
      </div>
    </div>
  </div>
</div>

<script>
    let table, page_size = 15;

    function init_table() {
        table = $('#table_user_soldiers').bootstrapTable({
            locale: 'zh-CN',
            url: '/admin/user_soldiers/list_for_table',
            method: 'get',
            striped: true,
            cache: false,
            pagination: true,
            contentType: "application/x-www-form-urlencoded",
            queryParams: function (params) {
                params['page'] = params.pageNumber - 1;
                params['limit'] = params.pageSize;
                let state = $('#filter_state').val(), keyword = $('#filter_keyword').val().trim(),
                    soldier_id = $('#filter_soldier_id').val();
                if (state !== '-1')
                    params['state'] = state;
                if (soldier_id !== '-1')
                    params['soldier_id'] = soldier_id;
                if (keyword.length > 0)
                    params['keyword'] = keyword;
                get_statistics(params);
                return params;
            },
            sidePagination: "server",
            pageNumber: 1,
            queryParamsType: "pageNumber",
            pageSize: page_size,
            strictSearch: true,
            clickToSelect: true,
            uniqueId: "id",
            columns: [
                {field: 'id', title: 'ID'},
                {field: 'invite_code', title: '用户ID'},
                {field: 'address', title: '地址'},
                {field: 'level', title: '等级'},
                {field: 'state_name', title: '状态'},
                {field: 'amount', title: '数量'},
                {field: 'left_duration', title: '剩余排除次数'},
                {
                    field: 'expired', title: '已过期?', formatter: function (expired) {
                        return expired ? '<span class="text-danger">是</span>' : '<span class="text-primary">否</span>';
                    }
                },
                {field: 'created_at', title: '时间'}
            ]
        });
    }

    function get_statistics(params) {
        Business.get(
            '/admin/user_soldiers/statistics', params,
            function (data) {
                $('#total_statistics').text('合计:' + data.total);
            }
        );
    }

    function load_bomb_numbers() {
        Business.get(
            '/admin/soldiers/bomb_nos', {},
            function (data) {
                let html = '';
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    html += '<option value="' + item.id + '">' + item.level + '</option>';
                }
                $('#filter_soldier_id').append(html);
            }
        );
    }

    $(function () {
        $('.input-daterange').datepicker({
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        });

        init_table();
        load_bomb_numbers();
    });
</script>