<div class="flex justify-between m-b-15">
  <ol class="breadcrumb float-xl-left">
    <li id="li_nav_level_1" class="breadcrumb-item"><a href="javascript:;" class="">首页</a></li>
    <li id="li_nav_level_2" class="breadcrumb-item"><a href="javascript:;">设置</a></li>
    <li id="li_nav_level_3" class="breadcrumb-item"><a href="javascript:;">公告</a></li>
  </ol>
</div>

<div class="panel panel-inverse">
  <div class="panel-body">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-blue pull-right" onclick="new_notice()">新增</button>
      </div>
    </div>

    <div class="row m-t-15">
      <div class="col-12">
        <table id="table_notices"></table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_new" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">新增公告</h4>
      </div>
      <form id="form_new">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="modal-body">
          <div class="form-group">
            <label>标题 <span class="text-danger">*</span></label>
            <input name="notice[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>语言 <span class="text-danger">*</span></label>
            <select name="notice[language]" class="form-control">
              <option value="en">英文</option>
              <option value="zh-CN">简体中文</option>
            </select>
          </div>
          <div class="form-group">
            <label>内容 <span class="text-danger">*</span></label>
            <textarea name="notice[content]" class="form-control" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="ladda-button btn btn-success" data-style="zoom-in">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">编辑公告</h4>
      </div>
      <form id="form_edit">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="notice[id]">
        <div class="modal-body">
          <div class="form-group">
            <label>标题 <span class="text-danger">*</span></label>
            <input name="notice[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>语言 <span class="text-danger">*</span></label>
            <select name="notice[language]" class="form-control">
              <option value="en">英文</option>
              <option value="zh-CN">简体中文</option>
            </select>
          </div>
          <div class="form-group">
            <label>内容 <span class="text-danger">*</span></label>
            <textarea name="notice[content]" class="form-control" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="ladda-button btn btn-success" data-style="zoom-in">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    let table;

    function init_table() {
        table = $('#table_notices').bootstrapTable({
            locale: 'zh-CN',
            url: '/admin/notices/list',
            method: 'get',
            striped: true,
            cache: false,
            pagination: true,
            contentType: "application/x-www-form-urlencoded",
            sidePagination: "server",
            pageNumber: 1,
            queryParamsType: "pageNumber",
            pageSize: 100,
            strictSearch: true,
            clickToSelect: true,
            uniqueId: "id",
            columns: [
                {field: 'id', title: 'ID'},
                {field: 'title', title: '标题'},
                {field: 'lang_name', title: '语言'},
                {field: 'content', title: '内容'},
                {field: 'created_at', title: '创建时间'},
                {
                    field: 'id', title: '操作', formatter: function (id) {
                        let actions = [
                            '<a href="javascript:edit_notice(' + id + ')" title="编辑">编辑</a>',
                            '<a href="javascript:delete_notice(' + id + ')" title="删除">删除</a>',
                        ];
                        return actions.join(' ');
                    }
                }
            ]
        });
    }

    function new_notice() {
        $('#form_new')[0].reset();
        $('#modal_new').modal();
    }

    function edit_notice(id) {
        let row = table.bootstrapTable('getRowByUniqueId', id);
        $('#form_edit')[0].reset();
        $('#form_edit input[name="notice[id]"]').val(id);
        $('#form_edit input[name="notice[title]"]').val(row.title);
        $('#form_edit textarea[name="notice[content]"]').val(row.content);
        $('#form_edit select[name="notice[language]"]').val(row.language);
        $('#modal_edit').modal('show');
    }

    function delete_notice(id) {
        swal({
            title: '确认操作',
            text: '确认删除该公告？',
            icon: 'info',
            buttons: {
                cancel: {
                    text: '取消',
                    value: null,
                    visible: true,
                    className: 'btn btn-default',
                    closeModal: true,
                },
                confirm: {
                    text: '确认',
                    value: true,
                    visible: true,
                    className: 'btn btn-primary',
                    closeModal: true
                }
            }
        }).then((confirmed) => {
            if (confirmed) {
                Business.post("/admin/notices/destroy", {
                        id: id,
                        authenticity_token: '<%= form_authenticity_token %>'
                    },
                    function () {
                        table.bootstrapTable('refresh');
                    }
                );
            }
        });
    }

    $(function () {
        init_table();

        $('#form_new').submit(function () {
            let l = $('#form_new button[type="submit"]').ladda();
            l.ladda('start');
            Business.submit_form('/admin/notices/create', 'form_new',
                function () {
                    l.ladda('stop');
                    table.bootstrapTable('refresh');
                    $('#modal_new').modal('hide');
                }, function (data) {
                    l.ladda('stop');
                    swal('错误', data.msg, 'error');
                }
            );

            return false;
        });

        $('#form_edit').submit(function () {
            let l = $('#form_edit button[type="submit"]').ladda();
            l.ladda('start');
            Business.submit_form(
                '/admin/notices/update', 'form_edit',
                function () {
                    l.ladda('stop');
                    table.bootstrapTable('refresh');
                    $('#modal_edit').modal('hide');
                }, function (data) {
                    l.ladda('stop');
                    swal('错误', data.msg, 'error');
                }
            );

            return false;
        });
    });
</script>